.text-block {
    border          : solid 5px whitesmoke;
    position        : absolute;
    top             : 50%;
    left            : 50%;
    transform       : translate(-50%, 100%);
    background-color: rgba(33, 33, 33, 0.5) !important;
    color           : white;
    padding         : 30px;
}

@media (min-width: 20px) and (max-width: 575px) {
    .text-block {
        top      : 30%;
        transform: translate(-50%, 50%);
    }
}